services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: ticketing
      POSTGRES_USER: ticket
      POSTGRES_PASSWORD: ticket
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ticket -d ticketing"]
      interval: 10s
      timeout: 3s
      retries: 5

  redis:
    image: redis:7-alpine
    command: ["redis-server", "--appendonly", "no"]
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD","redis-cli","ping"]
      interval: 10s
      timeout: 3s
      retries: 5

  app:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: staging

      # DataSource – nazwa hosta to nazwa usługi 'postgres'
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}

      # Flyway
      SPRING_FLYWAY_ENABLED: "true"
      SPRING_FLYWAY_BASELINE_ON_MIGRATE: "true"
      SPRING_FLYWAY_BASELINE_VERSION: "1"

      # Redis
      REDIS_HOST: redis
      REDIS_PORT: 6379

      # Sekrety
      JWT_SECRET: ${JWT_SECRET}
      PAYMENT_PROVIDER_SECRET: ${PAYMENT_PROVIDER_SECRET}

      # (opcjonalnie) CORS
      CORS_ALLOWED_ORIGINS: http://localhost:3000

    ports:
      - "8080:8080"

volumes:
  pgdata: